   body {
    background-color: white;
    margin: 0;
    padding:0;
    width: 100%;
    height: 100vh;
    }

div#ontop {
    z-index: 20;
    position: fixed;
    }
        
div#container {
    position: relative;
    width: 75vw;
    height: calc(85vh - 60px);
    margin: auto;
    padding-top:12px;
    text-align: center;
    }

div#textcontainer {
    position: relative;
    width: 75vw;
    margin: auto;
    text-align: center;
    height: 0;
    }
        
div.glasses {
    background-image: url('../img/glasses.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 20;
    }
    
div#text {
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-shadow:
        -2px -2px 0 white,  
        2px -2px 0 white,
        -2px 2px 0 white,
        2px 2px 0 white;
    z-index: 30;
    margin: auto;
    text-align: center;
    z-index: 20;
    position: relative;
    }
